<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Blogs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BloggerLogin</display-name>
    <servlet-name>BloggerLogin</servlet-name>
    <servlet-class>BloggerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerLogin</servlet-name>
    <url-pattern>/BloggerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlogger</display-name>
    <servlet-name>AddBlogger</servlet-name>
    <servlet-class>AddBlogger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlogger</servlet-name>
    <url-pattern>/jsp/AddBlogger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create</display-name>
    <servlet-name>Create</servlet-name>
    <servlet-class>Create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/jsp/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/jsp/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayText</display-name>
    <servlet-name>DisplayText</servlet-name>
    <servlet-class>DisplayText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayText</servlet-name>
    <url-pattern>/jsp/DisplayText</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/jsp/Delete</url-pattern>
  </servlet-mapping>
</web-app>